/* ベーシックリセット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 全体のスタイル */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

body a {
    color: #555; /* 標準のリンク色 */
    text-decoration: none; /* 下線をデフォルトで外す */
    border-bottom: 1px solid #555; /* 下線の代わりにボーダーで下線効果 */
    transition: color 0.3s ease, border-bottom-color 0.3s ease; /* 色と下線の変化をスムーズに */
}

body a:hover {
    color: #333; /* ホバー時に少し濃い色に変更 */
    border-bottom-color: #333; /* 下線の色もホバー時に変える */
    text-decoration: none; /* 下線ではなくボーダーでホバーエフェクト */
}


header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* カードパックセクションのスタイル */
#packs {
    margin: 40px 0;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

.pack {
    margin-bottom: 40px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.pack summary {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    margin-bottom: 15px;
}

.pack img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
    border: 2px solid #ddd;
}

/* カード名リストのスタイル */
.card-list {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin: 0 auto;
    width: 50%;
}

.card-list li {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.card-list li:hover {
    background-color: #ececec;
}


/* フィルタ */
#filter {
    margin-bottom: 20px;
    text-align: center;
}

#filter select {
    padding: 5px;
    font-size: 16px;
}


/* フッター */
footer {
    text-align: center;
    margin-top: 40px;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

footer p {
    margin: 0;
}
